.add_section {
    background: #0a7dd2;
    padding-bottom: 60px; }
.add_section h2 {
    color: #ffffff; }
.add_section .icn_phone {
    width: 100px;
    height: 100px;
    outline: none;
    display: block;
    margin: 0 auto 10px;
    background-image: url(https://www.paragon-software.com/sites/paragonsoftware.com/indexPage/adaptive/phone_icon.svg); }

.add_section .icn_phone:hover {
    background-image: url(https://www.paragon-software.com/sites/paragonsoftware.com/indexPage/adaptive/phone_icon_hover.svg); }

.add_section .icn_mail {
    width: 100px;
    height: 100px;
    outline: none;
    display: block;
    margin: 0 auto 10px;
    background-image: url(https://www.paragon-software.com/sites/paragonsoftware.com/indexPage/adaptive/e-mail_icon.svg); }

.add_section .icn_mail:hover {
    background-image: url(https://www.paragon-software.com/sites/paragonsoftware.com/indexPage/adaptive/e-mail_icon_hover.svg); }

.add_section .icn_base {
    width: 100px;
    height: 100px;
    outline: none;
    display: block;
    margin: 0 auto 10px;
    background-image: url(https://www.paragon-software.com/sites/paragonsoftware.com/indexPage/adaptive/FAQ_icon.svg); }

.add_section .icn_base:hover {
    background-image: url(https://www.paragon-software.com/sites/paragonsoftware.com/indexPage/adaptive/FAQ_icon_hover.svg); }
.add_section .press_md_button {
    margin: 35px 0 0; }




.tab {
    //width: 100px;
    //height: 100px;
    //display: block;
    //margin: 0 auto;
    ////background-image: url(/images/Pressroom.png);

    //background-repeat: no-repeat;
    //background-position: top left;
    //background-size: 200% 100%;
    //color: #337ab7;

text-align: center;
align-items: center;
}

.tab:hover {
    //background-image: url(/images/Pressroom.png);
}





.nav {

    p {
        color: white;
    }

    h3 {
        padding: 3%;
        color: white;
    }
     a {
        outline: none;
        text-align: center;
        text-decoration: none;
    }

     img {
        width: 100px;
        display: flex;
         margin: 8% auto 0 auto;
        padding: 1%;

    }

    .title {
        text-align: center;
    }

    .press_md_button {
        &.col-xs-6,
        &.col-xs-5
        {
            float: none;
            width: auto;
            margin-right: 3%;
        }
        border: 1px solid #ffffff;
        display: inline-block;
        padding: 3px 10px;
        margin: 0 3.5% 10px 0;
        border-radius: 12px;
        -o-border-radius: 12px;
        -khtml-border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px; }

    .press_md_button:hover {
        background: #3b97db; }

    .press_md_button a {
        text-decoration: none;
        outline: none; }

    .press_md_button span, #press h2, #reviews h2, .add_section h2 {
        color: #ffffff; }
}







@media only screen and (max-width: 480px){
    .add_section .icn_phone, .add_section .icn_mail, .add_section .icn_base {
        width: 80px;
        height: 80px;
        margin: 5% auto 2% auto; }
    .add_section .press_md_button {
        margin: 15px 0 0; } }

    .nav .nav_descr{
        &.col-xs-5,
        &.col-xs-6 {
            width: auto;
        }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

    .nav h3 {
        margin-top: 0;
        padding: 3%;
    }
}
