.downloader {
    h1 {
        color: #3b52a0;
        font-size: x-large;
        font-weight: 700;
        padding-bottom: 25px;

    }
    .panel {
        margin-bottom: 0;
        &:nth-of-type(1) {
            .panel-heading {
                border-top: 1px solid #939393;
            }
        }
    }
    .panel-heading {
        //border-top: 1px solid #939393;
        border-bottom: 1px solid #939393;
        .arrow_downloader {
            display: inline-block;
        }
        a:not(.collapsed) + .arrow_downloader,
        .hide:checked + label .arrow_downloader {
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
        }
    }
    .panel-title {
        font-weight: bold;
        color: #646262;
        font-size: medium;
        a:hover {
            text-decoration: none;
        }
    }
    .panel-body {
        padding: 0;
        margin: 0;
        font-size: medium;
        border-bottom: 1px solid #939393;
        .hide:checked + label .arrow_downloader {
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
        }
        .row:nth-child(odd) .col-lg-12 {
            background-color: #f5f5f5;
            height: 100%;
        }
        .col-lg-3 {
            padding: 20px 0;
            display: flex;
            justify-items: center;
            align-items: center;
            flex-direction: column;
            vertical-align: middle;
            a {

            }
            .tab {
                //color: #2e63f0;
                margin-top: 10px;
                font-size: 15px;
                font-weight: normal;
                line-height: 21.4333px;
                color: rgb(10, 125, 210);
            }
        }

        .col-lg-4 {
            justify-items: center;
            align-items: center;
            vertical-align: middle;
            display: flex;
            flex-direction: row;
        }
        .col-lg-12 {
            vertical-align: middle;
            display: flex;
            flex-direction: row;
            justify-content: center;

        }

       .arrow_downloader {
            display: inline-flex;
        }

    }

    //указатель раскрывающегося  списка

    .arrow_downloader {
        width: 10px;
        height: 10px;
        background-image: url(/images/arrow.png);
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 200% 100%;
        color: #337ab7;
    }
}
    @media only screen and (max-width: 767px) {
        .downloader {
            .panel-heading {
                padding-bottom: 25px;
                padding-top: 25px;
            }

            .hide, .hide_arrow, .hide + label ~ div {
                display: none;
            }
            .hide + label {
                padding: 0;
                color: #c4d6f0;
                font-weight: 600;
                cursor: pointer;
                display: inline-block;
            }
            .hide:checked + label {
                border-bottom: 0;
            }
            .hide:checked + label + div {
                display: block;
            }
            .panel-body {
                .col-lg-12 {
                    border-bottom: 1px solid #939393;

                }

                .hide + label {

                    color: #337ab7;
                }
                .col-lg-3 {
                    &:nth-of-type(1) {
                        border-right: 1px solid #939393;
                        border-bottom: 1px solid #939393;
                    }
                    &:nth-of-type(2) {

                        border-bottom: 1px solid #939393;
                    }
                    &:nth-of-type(3) {
                        border-right: 1px solid #939393;

                    }
                    &:nth-of-type(4) {

                    }
                }
            }
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 1200px) {
        .downloader {
            .panel-body {
                .col-lg-12 {
                    border-bottom: 1px solid #939393;

                }

            }
            .col-lg-3 {
                &:nth-of-type(1) {
                    border-right: 1px solid #939393;
                    border-bottom: 1px solid #939393;
                    border-left: 1px solid #939393;
                }
                &:nth-of-type(2) {

                    border-bottom: 1px solid #939393;
                }
                &:nth-of-type(3) {
                    border-right: 1px solid #939393;
                    border-left: 1px solid #939393;

                }

            }
        }
    }



@media only screen and (min-width: 1200px) {
    .col-lg-3 {
        border-left: 1px solid #939393;
    }
}
