h1, h2, h3, h4{
    text-align: center;
    color: #3b52a0;
}



.item {
    width: 100%;
    padding: 28px;
    margin: 20px 0 20px 0;
    img {
        width: 80px;
        float: left;

    }
    div.title a{
        color: #3b52a0;
    }
    .title {
        font-size: large;
        padding-left: 0px;
        color: #3b52a0;
    }
    .description {
        padding: 15px 0px 0px 0px;
        color: #6d6d6d;
        font-weight: 500;

        ul li {
            color: #0a7dd2;
            margin-left: -25px;
            font-size: small;
        }
        .list{
            color: #9c9c9c;
            font-size: large;
            font-weight: lighter;
        }
    }
    .buttons {
        margin: 30px 0 0 0;

        .btn-outline-primary {
            color:#3b52a0;
            background-image: none;
            background-color: transparent;
            border-color: #3b52a0;

            &:hover {
                -webkit-box-shadow: 0 0 0 2px rgba(2,117,216,.5);
                box-shadow: 0 0 0 2px rgba(2,117,216,.5);
                background: #4f64ab;
                background: -webkit-gradient(linear, left top, left bottom, from(#e0f8ff), to(#a9deff));
                background: -webkit-linear-gradient(top, #e0f8ff 50%, #a9deff);
                background: -moz-linear-gradient(top, #e0f8ff 50%, #a9deff);
                background: -ms-linear-gradient(top, #e0f8ff 50%, #a9deff);
                background: -o-linear-gradient(top, #e0f8ff 50%, #a9deff);
                background-image: -ms-linear-gradient(top, #e0f8ff 50%, #a9deff 100%);
                border-color: #212853;

            }
            &:focus {

                color: #fff;
                background: #4f64ab;
                background: -webkit-gradient(linear, left top, left bottom, from(#6679b9), to(#212853));
                background: -webkit-linear-gradient(top, #6679b9 50%, #212853);
                background: -moz-linear-gradient(top, #6679b9 50%, #212853);
                background: -ms-linear-gradient(top, #6679b9 50%, #212853);
                background: -o-linear-gradient(top, #6679b9 50%, #212853);
                background-image: -ms-linear-gradient(top, #6679b9 50%, #212853 100%);
                border-color: #212853;
            }

        }
        .btn-primary {
            background: #4f64ab;
            background: -webkit-gradient(linear, left top, left bottom, from(#6679b9), to(#212853));
            background: -webkit-linear-gradient(top, #6679b9 50%, #212853);
            background: -moz-linear-gradient(top, #6679b9 50%, #212853);
            background: -ms-linear-gradient(top, #6679b9 50%, #212853);
            background: -o-linear-gradient(top, #6679b9 50%, #212853);
            background-image: -ms-linear-gradient(top, #6679b9 50%, #212853 100%);
            border: transparent;

        }
        .btn-danger{
            background: #e94f44;
            background: -webkit-gradient(linear, left top, left bottom, from(#ee7476), to(#e94f44));
            background: -webkit-linear-gradient(top, #ee7476 50%, #e94f44);
            background: -moz-linear-gradient(top, #ee7476 50%, #e94f44);
            background: -ms-linear-gradient(top, #ee7476 50%, #e94f44);
            background: -o-linear-gradient(top, #ee7476 50%, #e94f44);
            background-image: -ms-linear-gradient(top, #ee7476 50%, #e94f44 100%);
            border: transparent;
        }
        a {
            margin: 3px;
            padding: 1px;
            width: 90px;
            border-radius: 2.95rem;;
            margin-bottom: 10px;
            font-weight: 700;

        }

    }
}
.buttons.show a {
    width: 130px;
    margin: 0 auto;
    display: block;
    text-align: center;
    overflow: auto;
    font-weight: 700;
    background: #4f64ab;
    background: -webkit-gradient(linear, left top, left bottom, from(#6679b9), to(#212853));
    background: -webkit-linear-gradient(top, #6679b9 , #212853);
    background: -moz-linear-gradient(top, #6679b9 , #212853);
    background: -ms-linear-gradient(top, #6679b9 , #212853);
    background: -o-linear-gradient(top, #6679b9 , #212853);
    background-image: -ms-linear-gradient(top, #6679b9 , #212853 100%);
    border: transparent;
    background-color:  transparent;
    border-radius: 2.95rem;
    &:hover {
        color: #fff;
        background: #4f64ab;
        background: -webkit-gradient(linear, left top, left bottom, from(#6679b9), to(#212853));
        background: -webkit-linear-gradient(top, #6679b9 50%, #212853);
        background: -moz-linear-gradient(top, #6679b9 50%, #212853);
        background: -ms-linear-gradient(top, #6679b9 50%, #212853);
        background: -o-linear-gradient(top, #6679b9 50%, #212853);
        background-image: -ms-linear-gradient(top, #6679b9 50%, #212853 100%);
        border-color: #212853;
    }
}

body {
    color: #595757;
    .whiteback {
        background-color: #ffffff;
        .item {
            background-color: #f5f5f5;
        }
    }
    .whiteback .greyback {

        background-color: #ffffff;

        .buttons {
            background-color: #ffffff;

        }
    }
}

.text-center.text-info.first-title{
    line-height: 2.9;
    font-weight: lighter;
    font-size: 28px;
}


@media only screen and (min-width: 661px) and (max-width: 970px){
    .item {

        img {

        }
        .title {


        }
        .description {

        }
        .buttons {

            a {

                width: 12%;
                padding: 5px 0;
                font-size: medium;

            }

        }
    }
}
@media only screen and (max-width: 660px){
    .item {

        text-align: center;
        img {
            display: block;
            float: none;
            margin: 0 auto 20px auto;
        }
        .title {

            padding-left: 0px
        }
        .description {
            padding: 15px 10px 0px 0px;
            text-align: left;

        }
        .buttons {
            //margin: 30px 0 0 0;
            text-align: center;
            a {
                padding: 3px 0;
                width: 17%;
                border-radius: 50px;
                margin-bottom: 10px;
                font-weight: 700;

            }

        }
    }
}

@media only screen and (max-width: 450px){

    h4{
        text-align: left;
    }

    .item {

        text-align: center;
        img {
            display: block;
            float: none;
            margin: 0 auto 20px auto;
        }
        .title {

            padding-left: 0px
        }
        .description {
            padding: 15px 10px 0px 0px;
            text-align: left;

        }
        .buttons {
            margin: 30px 0 0 0;
            text-align: center;
            a {
                padding: 6px 0;
                width: 27%;
                border-radius: 50px;
                margin-bottom: 10px;
                font-weight: 700;

            }

        }
    }
}

//.table-responsive .table-striped > tbody > tr:nth-of-type(2n+1){
//    background-color: #f5f5f5;
//}

@media (min-width: 768px) {

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }
}






