$popa: #fff;

.basket {
    .Main {
      /* rollback to fixed width
      max-width: none;
        width: auto;*/
    }
    .pearl-sprite-header_background {
        background-position: 0 -14px !important;
        width: auto;
        height: auto;
        min-height: 69px;
        background: url(/norm_files/pearl-sprite-line.png) top left;
    }

    .BckgHeader {
        width: auto;
        height: auto;
        min-height: 69px;
        position: relative;
        z-index: 3;
    }

    &__wrapper {
        height: 100%;
        display: table;
        width: 100%;
        text-align: center;
        table-layout: fixed;
        .ContentCenter {
            float: none;
            background: #e9e9e9;
            padding: 40px 7px 25px;
            width: auto;
            vertical-align: top;
            margin-top: -8px;
        }
        .ContentRight {
            width: 207px;
            height: 100%;
            vertical-align: top;
            float: none;
            text-align: center;
        }
        .ContentLeft {
            width: 197px;
            height: 100%;
            float: none;
            vertical-align: top;
            background-color: inherit;
        }

        .PearlCheckOutBar {
            height: 52px;
            margin: 0 auto;
            width: auto;
            display: inline-block;
        }
        .ContentCenter .SimpleBanner {
            width: auto;
            margin: 7px auto;
        }

        #PearlTopTabRow {
            position: relative;
            width: auto;
            text-align: center;
            top: -41px;
            display: block;
            margin: auto;
            left: 0;
        }
        #template_content {
            margin-top: -30px;
        }
        .PearlCheckOutBar_wrapper {
            text-align: center;
        }

        .CheckBoxes {
            font-family: Verdana, Arial, sans-serif;
            display: block;

            height: auto;
            text-align: center;
            overflow: hidden;

            .Customer,
            .NewCustomer {
                float: left;
                width: 100%;
                box-sizing: border-box;

                input {
                    display: inline-block;
                    float: none;
                    clear: none;
                }

                font {
                    font-size: 12px;
                    text-align: justify;
                    width: auto;
                    float: none;
                }
            }
        }
        /* first page*/
        #PearlCheckOutBarButton0 {
            width: 130px;
        }

    }

    &__main {
        height: 100%;
        display: table;
        width: 100%;
        table-layout: fixed; /* rollback to fixed width*/
    }

    &__box {
        display: block;
        float: left;
        width: 50%;
    }
    &__box-wrap {
        padding: 0 10px;

    }

    &__column {
        display: table-cell;
    }

    &__footer {
        display: table-row;
        height: 1px;
    }

    &__panel {
        border: 1px solid #ddd;
        border-radius: 7px 7px 0 0;
        width: 578px;
        margin-top: 20px;
        &:first-child{
            margin-top: 0;
        }
        &_withfooter{
            border-radius: 7px;
        }
        &_nopadding{
            .basket__panel-content{
                padding: 0;
            }
        }
    }
    &__panel-header {
        background: linear-gradient(to bottom, #fff 5%, #e9e9e9 100%);
        border: 1px solid #ddd;
        border-radius: 7px 7px 0 0;
    }

    &__panel-footer {
        background: linear-gradient(to bottom, #fff 5%, #e9e9e9 100%);
        border: 1px solid #ddd;
        border-radius: 0 0 7px 7px;
    }

    &__panel-footer h2,
    &__panel-header h2 {
        padding: 12px 8px 10px 12px;
        font-family: helvetica, sans-serif;
        font-size: 18px;
        text-decoration: none;
        color: #2271b4;
    }
    &__panel-content {
        background-color: #ffffff;
        min-height: 50px;
        border-top: 1px solid #ddd;
        padding: 20px;

        h3 {
            padding: 12px 8px 10px 0;
            font-family: helvetica, sans-serif;
            font-size: 16px;
            text-decoration: none;
            color: #2271b4;
            float: left;
        }
        .apply_shoping {
            padding: 20px;

            button {

                float: right;
            }
        }
        .vwo_add_button{
            border: 1px solid #aeaeae;
            background: #8f8f8f;
            background: -webkit-gradient(linear,left top,left bottom,from(#8f8f8f),to(#aeaeae));
            background: -webkit-linear-gradient(top,#8f8f8f,#aeaeae);
            background: -moz-linear-gradient(top,#8f8f8f,#aeaeae);
            background: -ms-linear-gradient(top,#8f8f8f,#aeaeae);
            background: -o-linear-gradient(top,#8f8f8f,#aeaeae);
            background-image: -ms-linear-gradient(top,#8f8f8f 0,#aeaeae 100%);
            color: #fff;
            font-weight: bold;
            text-decoration: dashed;
            width: 105px;
            height: 27px;
            border: 1px solid #8f8f8f;
            font-size: 13px;
            margin-left: 30px;
            padding: 0px 0px;
            margin-top: -5px;
        }
    }

    .submit-button:hover {
        border: 1px solid #cf4c50;
        background: #cf4c50;
        background: -webkit-gradient(linear, left top, left bottom, from(#b3000f), to(#cf4c50));
        background: -webkit-linear-gradient(top, #b3000f, #cf4c50);
        background: -moz-linear-gradient(top, #b3000f, #cf4c50);
        background: -ms-linear-gradient(top, #b3000f, #cf4c50);
        background: -o-linear-gradient(top, #b3000f, #cf4c50);
        background-image: -ms-linear-gradient(top, #b3000f 0, #cf4c50 100%);
        color: #fff;
        font-weight: bold;
        text-decoration: none;
    }

    .text-money {
        font-size: large;
        font-weight: 600;
        color: black;
    }

    .cost-net {
        font-size: 14px;
    }
    .cost-gross {
        font-weight: 900;
        font-size: 16px;
    }

    .bsk__table {
        display: table;
        width: 100%;
        table-layout: fixed;

        h3 {
            padding: 0;
            font-family: helvetica, sans-serif;
            font-size: 16px;
            text-decoration: none;
            color: #2271b4;
            span {
                font-size: 12px;
                color: black;
                font-weight: normal;
            }
        }

    }
    .bsk__row {
        display: table-row;
    }
    .bsk__col {
        vertical-align: middle;
        display: table-cell;
        border: 1px solid #ddd;
        padding: 10px;

        img {
            float: left;
            width: 75px;
        }
    }
    .bsk__header {
        background: linear-gradient(to bottom, #fff 5%, #e9e9e9 100%);
        border: 1px solid #ddd;
        .bsk__col {
            padding: 10px 20px;
        }
    }

    .bsk__colgroup {
        display: table-column-group
    }
    .bsk__column:nth-child(1) {
        width: auto;
        @media screen and(max-width: 2600px) {
            width: 180px;
        }

    }
    .bsk__column:nth-child(2) {
        width: auto;
        min-width: 180px;
    }
    .bsk__column:nth-child(3) {
        width: auto;
    }
    .bsk__column:nth-child(4) {
        width: auto;
    }

    .bsk__column {
        display: table-column
    }

    .text-cut {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: normal;
    }
    h2.text-cut {
        font-size: 13px;
        font-weight: normal;
    }
    .input-numeric {
        width: 100px;
        margin-bottom: 20px;

    }
    .spin {
        display: inline-block;
    }
    .spin span {
        display: inline-block;
        width: 20px;
        height: 22px;
        text-align: center;
        padding-top: 3px;
        background: rgb(20, 113, 182);
        border: 1px solid #3366cc;
        border-radius: 0 8px 8px 0;
        cursor: pointer;
        color: white;
        font-weight: bolder;
        font-size: 16px;
    }
    .spin span:first-child {
        border-radius: 8px 0 0 8px;
    }
    .spin input {
        width: 44px;
        height: 21px;
        text-align: center;
        font-weight: bold;
        border: 2px solid rgb(20, 113, 182);
        font-size: 16px;
    }

    .bsk-btn {
        width: 25px;
        height: 25px;
        background-size: contain;

        text-align: center;
        cursor: pointer;
        background-color: transparent;
        box-sizing: border-box;
        padding: 2px 6px 3px;
        border: none;
        margin: 10px;

    }
    .btn-reload {
        float: left;
        background: url('/image/refresh.svg') no-repeat top left;
    }
    .btn-trash {
        float: right;
        background: url('/image/dash.svg') no-repeat top left;
    }
    &__panel-btnbox {
        background-color: white;
        border-top: 1px solid #ddd;
        padding: 20px;
        border-radius: 0 0 7px 7px;
        .back-button {
            margin: 8px 0;
            width: 122px;
            height: 27px;
            padding: 0;
            font-size: 12px;
            float: left;
        }
    }

    &__ad-box{

        text-align: center;
        a{
            display: inline-block;
            height: 50px;
            vertical-align: middle;
            margin-bottom: 10px;

            &:nth-child(1){
                width: 121px;
                img{
                    width: 50px;
                    float: left;
                    margin-bottom: 10px;
                }
                h2{
                    font-size: small;
                    color: rgb(34,113,180);

                }
            }
            &:nth-child(2){
                img {
                    float: left;
                    width: 27px;
                    height: 27px;
                    margin: 0 10px 10px 0;
                }
                h2{
                    font-size: small;
                    width: 240px;
                    color: rgb(34,113,180);
                }
            }
            &:nth-child(3){
                 width: 110px;
            }
            &:nth-child(4){
                width: 55px;
                margin-left: 10px;
            }

        }
    }

    &__ad-link{
        padding: 12px 8px 10px 0;
        font-family: helvetica, sans-serif;
        font-size: 16px;

        color: #2271b4 !important;
        float: left;
        font-weight: bold;
        text-decoration: underline !important;
        &:hover{
            text-decoration: none !important;
        }
    }

    &__form-buy{
        text-align: left;

    }

    .bsk-field{
        display: inline-block;
        vertical-align: middle;
        &:last-child{
            margin-top: 0;
        }
        &:nth-child(5){
            margin-top: 18px;
        }
        &__label{
            padding: 0;
            font-family: helvetica, sans-serif;
            font-size: 16px;
            text-decoration: none;
            color: #2271b4;
            font-weight: bold;
        }
        &__sublabel{
            color: #b2b2b2;
            font-weight: bold;
        }
        &__divider{
            color: #2271b4;
            font-weight: bold;
            font-size: 1em;
            margin: 0 10px;
        }
        input{
            border-radius: 5px;
            border: 1px solid #ddd;
            padding: 4px 10px;
            margin: 5px 0;
        }
    }
}

@media screen and(max-width: 2600px) {
    h2.text-cut {
        font-size: small;

    }
    .basket .cost-gross {
        font-size:  small;
    }
    .basket .bsk__col {
        padding: 5px;
        width: 65px;
    }
}

