.basket .Main {
  max-width: none;
  width: auto; }

.basket .pearl-sprite-header_background {
  background-position: 0 -14px !important;
  width: auto;
  height: auto;
  min-height: 69px;
  background: url(/norm_files/pearl-sprite-line.png) top left; }

.basket .BckgHeader {
  width: auto;
  height: auto;
  min-height: 69px;
  position: relative;
  z-index: 3; }

.basket__wrapper {
  height: 100%;
  display: table;
  width: 100%;
  text-align: center;
  /* first page*/ }
  .basket__wrapper .ContentCenter {
    float: none;
    background: #e9e9e9;
    padding: 40px 7px 25px;
    width: auto;
    vertical-align: top;
    margin-top: -8px; }
  .basket__wrapper .ContentRight {
    width: 207px;
    height: 100%;
    vertical-align: top;
    float: none;
    text-align: center; }
  .basket__wrapper .ContentLeft {
    width: 197px;
    height: 100%;
    float: none;
    vertical-align: top;
    background-color: inherit; }
  .basket__wrapper .PearlCheckOutBar {
    height: 52px;
    margin: 0 auto;
    width: auto;
    display: inline-block; }
  .basket__wrapper .ContentCenter .SimpleBanner {
    width: auto;
    margin: 7px auto; }
  .basket__wrapper #PearlTopTabRow {
    position: relative;
    width: auto;
    text-align: center;
    top: -41px;
    display: block;
    margin: auto;
    left: 0; }
  .basket__wrapper #template_content {
    margin-top: -30px; }
  .basket__wrapper .PearlCheckOutBar_wrapper {
    text-align: center; }
  .basket__wrapper .CheckBoxes {
    font-family: Verdana, Arial, sans-serif;
    display: block;
    height: auto;
    text-align: center;
    overflow: hidden; }
    .basket__wrapper .CheckBoxes .Customer,
    .basket__wrapper .CheckBoxes .NewCustomer {
      float: left;
      width: 100%;
      box-sizing: border-box; }
      .basket__wrapper .CheckBoxes .Customer input,
      .basket__wrapper .CheckBoxes .NewCustomer input {
        display: inline-block;
        float: none;
        clear: none; }
      .basket__wrapper .CheckBoxes .Customer font,
      .basket__wrapper .CheckBoxes .NewCustomer font {
        font-size: 12px;
        text-align: justify;
        width: auto;
        float: none; }
  .basket__wrapper #PearlCheckOutBarButton0 {
    width: 130px; }

.basket__main {
  height: 100%;
  display: table;
  width: 100%; }

.basket__box {
  display: block;
  float: left;
  width: 50%; }

.basket__box-wrap {
  padding: 0 10px; }

.basket__column {
  display: table-cell; }

.basket__footer {
  display: table-row;
  height: 1px; }

.basket__panel {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 7px;
  width: 100%; }

.basket__panel-header {
  background: linear-gradient(to bottom, #fff 5%, #e9e9e9 100%);
  border: 1px solid #eeeeee;
  border-radius: 7px 7px 0 0; }

.basket__panel-footer {
  background: linear-gradient(to bottom, #fff 5%, #e9e9e9 100%);
  border: 1px solid #eeeeee;
  border-radius: 0 0 7px 7px; }

.basket__panel-footer h2,
.basket__panel-header h2 {
  padding: 12px 8px 10px 12px;
  font-family: helvetica, sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: #2271b4; }

.basket__panel-content {
  min-height: 50px;
  border-top: 1px solid #eee;
  padding: 20px; }
  .basket__panel-content h3 {
    padding: 12px 8px 10px 0;
    font-family: helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #2271b4;
    float: left; }
  .basket__panel-content .apply_shoping {
    padding: 20px; }
    .basket__panel-content .apply_shoping button {
      float: right; }
  .basket__panel-content .vwo_add_button {
    border: 1px solid #aeaeae;
    background: #8f8f8f;
    background: -webkit-gradient(linear, left top, left bottom, from(#8f8f8f), to(#aeaeae));
    background: -webkit-linear-gradient(top, #8f8f8f, #aeaeae);
    background: -moz-linear-gradient(top, #8f8f8f, #aeaeae);
    background: -ms-linear-gradient(top, #8f8f8f, #aeaeae);
    background: -o-linear-gradient(top, #8f8f8f, #aeaeae);
    background-image: -ms-linear-gradient(top, #8f8f8f 0, #aeaeae 100%);
    color: #fff;
    font-weight: bold;
    text-decoration: underline; }

.basket .submit-button:hover {
  border: 1px solid #cf4c50;
  background: #cf4c50;
  background: -webkit-gradient(linear, left top, left bottom, from(#b3000f), to(#cf4c50));
  background: -webkit-linear-gradient(top, #b3000f, #cf4c50);
  background: -moz-linear-gradient(top, #b3000f, #cf4c50);
  background: -ms-linear-gradient(top, #b3000f, #cf4c50);
  background: -o-linear-gradient(top, #b3000f, #cf4c50);
  background-image: -ms-linear-gradient(top, #b3000f 0, #cf4c50 100%);
  color: #fff;
  font-weight: bold;
  text-decoration: none; }

.basket .text-money {
  font-size: large;
  font-weight: 600;
  color: black; }

.basket .cost-net {
  font-size: 16px; }

.basket .cost-gross {
  font-weight: bold;
  font-size: 16px; }

.basket .bsk__table {
  display: table;
  width: 100%;
  table-layout: fixed; }
  .basket .bsk__table h3 {
    padding: 0;
    font-family: helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #2271b4; }
    .basket .bsk__table h3 span {
      font-size: 12px;
      color: black;
      font-weight: normal; }

.basket .bsk__row {
  display: table-row; }

.basket .bsk__col {
  vertical-align: middle;
  display: table-cell;
  border: 1px solid #eeeeee;
  padding: 20px; }
  .basket .bsk__col img {
    float: left;
    width: 75px; }

.basket .bsk__header {
  background: linear-gradient(to bottom, #fff 5%, #e9e9e9 100%);
  border: 1px solid #eeeeee; }
  .basket .bsk__header .bsk__col {
    padding: 0 20px; }

.basket .bsk__colgroup {
  display: table-column-group; }

.basket .bsk__column:nth-child(1) {
  width: auto; }
  @media screen and (max-width: 1190px) {
    .basket .bsk__column:nth-child(1) {
      width: 180px; } }

.basket .bsk__column:nth-child(2) {
  width: 210px; }

.basket .bsk__column:nth-child(3) {
  width: 150px; }

.basket .bsk__column:nth-child(4) {
  width: 150px; }

.basket .bsk__column {
  display: table-column; }

.basket .text-cut {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal; }

.basket .input-numeric {
  width: 100px;
  margin-bottom: 20px; }

.basket .spin {
  display: inline-block; }

.basket .spin span {
  display: inline-block;
  width: 20px;
  height: 22px;
  text-align: center;
  padding-top: 7px;
  background: #1471b6;
  border: 1px solid #aaa;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  color: white;
  font-weight: bolder; }

.basket .spin span:first-child {
  border-radius: 8px 0 0 8px; }

.basket .spin input {
  width: 44px;
  height: 20px;
  text-align: center;
  font-weight: bold;
  border: 2px solid #1471b6; }

.basket .bsk-btn {
  width: 25px;
  height: 25px;
  background-size: contain;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  box-sizing: border-box;
  padding: 2px 6px 3px;
  border: none;
  margin: 10px; }

.basket .btn-reload {
  float: left;
  background: url("/image/refresh.svg") no-repeat top left; }

.basket .btn-trash {
  float: right;
  background: url("/image/dash.svg") no-repeat top left; }

.basket__panel-btnbox {
  border-top: 1px solid #eee;
  padding: 20px 20px 20px 20px; }
  .basket__panel-btnbox .back-button {
    margin: 8px 0;
    width: 130px;
    height: 26px;
    padding: 0;
    font-size: 12px;
    float: left; }

.basket__ad-box {
  text-align: center; }
  .basket__ad-box a {
    display: inline-block;
    height: 50px;
    vertical-align: middle; }
    .basket__ad-box a:nth-child(1) {
      width: 95px; }
      .basket__ad-box a:nth-child(1) h2 {
        font-size: x-small; }
    .basket__ad-box a:nth-child(2) img {
      float: left;
      width: 50px;
      height: 50px; }
    .basket__ad-box a:nth-child(2) h2 {
      font-size: small;
      width: 300px; }
    .basket__ad-box a:nth-child(3) {
      width: 150px; }
    .basket__ad-box a:nth-child(4) {
      width: 150px; }
      @media (max-width: 1185px) {
        .basket__ad-box a:nth-child(4) {
          float: right; } }

@media screen and (max-width: 1295px) {
  h2 {
    font-size: small; }
  .basket .cost-gross {
    font-size: small; } }

@media screen and (max-width: 1190px) {
  h2 {
    font-size: x-small; }
  .basket .cost-gross {
    font-size: small; }
  .basket .bsk__col {
    padding: 5px; } }

@media (max-width: 970px) {
  .basket__box {
    width: 100%; }
  .basket__box-wrap {
    padding: 10px; } }
