.basket .Main {
  /* rollback to fixed width*/
  max-width: none;
  width: 1005px; }

.basket .pearl-sprite-header_background {
  background-position: 0 -14px !important;
  width: auto;
  height: auto;
  min-height: 69px;
  background: url(/norm_files/pearl-sprite-line.png) top left; }

.basket .BckgHeader {
  width: auto;
  height: auto;
  min-height: 69px;
  position: relative;
  z-index: 3; }

.basket__wrapper {
  height: 100%;
  display: table;
  width: 100%;
  table-layout: fixed;
  /* first page*/ }
  .basket__wrapper .ContentCenter {
    float: none;
    background: #e9e9e9;
    padding: 40px 7px 25px;
    width: auto;
    vertical-align: top;
    margin-top: -8px; }
  .basket__wrapper .ContentRight {
    width: 207px;
    height: 100%;
    vertical-align: top;
    float: none;
    text-align: center; }
  .basket__wrapper .ContentLeft {
    width: 197px;
    height: 100%;
    float: none;
    vertical-align: top;
    background-color: inherit; }
  .basket__wrapper .PearlCheckOutBar {
    height: 52px;
    margin: 0 auto;
    width: auto;
    display: inline-block; }
  .basket__wrapper .ContentCenter .SimpleBanner {
    width: auto;
    margin: 7px auto; }
  .basket__wrapper #PearlTopTabRow {
    position: relative;
    width: auto;
    text-align: center;
    top: -41px;
    display: block;
    margin: auto;
    left: 0; }
  .basket__wrapper #template_content {
    margin-top: -30px; }
  .basket__wrapper .PearlCheckOutBar_wrapper {
    text-align: center; }
  .basket__wrapper .CheckBoxes {
    font-family: Verdana, Arial, sans-serif;
    display: block;
    height: auto;
    text-align: center;
    overflow: hidden; }
    .basket__wrapper .CheckBoxes .Customer,
    .basket__wrapper .CheckBoxes .NewCustomer {
      float: left;
      width: 100%;
      box-sizing: border-box; }
      .basket__wrapper .CheckBoxes .Customer input,
      .basket__wrapper .CheckBoxes .NewCustomer input {
        display: inline-block;
        float: none;
        clear: none; }
      .basket__wrapper .CheckBoxes .Customer font,
      .basket__wrapper .CheckBoxes .NewCustomer font {
        font-size: 12px;
        text-align: justify;
        width: auto;
        float: none; }
  .basket__wrapper #PearlCheckOutBarButton0 {
    width: 176px; }
  .basket__wrapper #PearlCheckOutBarButton1 {
    width: 176px; }
  .basket__wrapper #PearlCheckOutBarButton2 {
    width: 176px; }

.basket__main {
  height: 100%;
  display: table;
  width: 100%;
  table-layout: fixed;
  /* rollback to fixed width*/ }

.basket__box {
  display: block;
  float: left;
  width: 50%; }

.basket__box-wrap {
  padding: 0 10px; }

.basket__column {
  display: table-cell; }

.basket__footer {
  display: table-row;
  height: 1px; }

.basket__panel {
  border: 1px solid #ddd;
  border-radius: 7px 7px 0 0;
  width: 100%;
  margin-top: 20px; }
  @media screen and (max-width: 985px) {
    .basket__panel {
      width: 570px; } }
  .basket__panel:first-child {
    margin-top: 0; }
  .basket__panel_withfooter {
    border-radius: 7px; }
  .basket__panel_nopadding .basket__panel-content {
    padding: 0; }
  @media screen and (max-width: 985px) {
    .basket__panel_nopadding {
      width: 570px; } }

.basket__panel-header {
  background: linear-gradient(to bottom, #fff 5%, #e9e9e9 100%);
  border: 1px solid #ddd;
  border-radius: 7px 7px 0 0; }

.basket__panel-footer {
  background: linear-gradient(to bottom, #fff 5%, #e9e9e9 100%);
  border: 1px solid #ddd;
  border-radius: 0 0 7px 7px; }
  .basket__panel-footer .text-money {
    margin-left: 22px; }

.basket__panel-footer h2,
.basket__panel-header h2 {
  padding: 12px 8px 10px 12px;
  font-family: helvetica, sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: #2271b4; }

.basket__panel-content {
  background-color: #ffffff;
  min-height: 50px;
  border-top: 1px solid #ddd;
  padding: 8px 0px 9px 13px; }
  .basket__panel-content h3 {
    padding: 17px 15px 0px 0px;
    font-family: helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #2271b4;
    float: left; }
  .basket__panel-content .apply_shoping {
    padding: 13px; }
    .basket__panel-content .apply_shoping button {
      float: right; }
  .basket__panel-content .vwo_add_button {
    border: 1px solid #aeaeae;
    background: #8f8f8f;
    background: -webkit-gradient(linear, left top, left bottom, from(#8f8f8f), to(#aeaeae));
    background: -webkit-linear-gradient(top, #8f8f8f, #aeaeae);
    background: -moz-linear-gradient(top, #8f8f8f, #aeaeae);
    background: -ms-linear-gradient(top, #8f8f8f, #aeaeae);
    background: -o-linear-gradient(top, #8f8f8f, #aeaeae);
    background-image: -ms-linear-gradient(top, #8f8f8f 0, #aeaeae 100%);
    color: #fff;
    font-weight: bolder;
    text-decoration: dashed;
    width: 97px;
    height: 28px;
    border: 1px solid #8f8f8f;
    font-size: 12px;
    padding: 0px 0px;
    margin-top: -5px;
    font-weight: 700; }

.basket .submit-button:hover {
  border: 1px solid #cf4c50;
  background: #cf4c50;
  background: -webkit-gradient(linear, left top, left bottom, from(#b3000f), to(#cf4c50));
  background: -webkit-linear-gradient(top, #b3000f, #cf4c50);
  background: -moz-linear-gradient(top, #b3000f, #cf4c50);
  background: -ms-linear-gradient(top, #b3000f, #cf4c50);
  background: -o-linear-gradient(top, #b3000f, #cf4c50);
  background-image: -ms-linear-gradient(top, #b3000f 0, #cf4c50 100%);
  color: #fff;
  font-weight: bold;
  text-decoration: none; }

.basket .text-money {
  font-size: large;
  font-weight: 600;
  color: black;
  text-align: right; }

.basket .cost-net {
  font-size: 11px;
  padding: 0px 0px 0px 6px; }

.basket .cost-gross {
  font-weight: 600;
  font-size: 15px;
  padding: 0px 0px 0px 6px; }

.basket .bsk__table {
  display: table;
  width: 100%;
  table-layout: fixed; }
  .basket .bsk__table h3 {
    padding: 0;
    font-family: helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: #2271b4; }
    .basket .bsk__table h3 span {
      font-size: 10px;
      color: black;
      font-weight: normal; }

.basket .bsk__row {
  display: table-row; }

.basket .bsk__col {
  vertical-align: middle;
  display: table-cell;
  border: 1px solid #ddd; }
  .basket .bsk__col:nth-child(2) {
    padding-left: 6px; }
  .basket .bsk__col:nth-child(3) {
    text-align: center;
    padding-top: 12px; }
  .basket .bsk__col:nth-child(4) {
    text-align: center;
    padding: 0 9px; }
  .basket .bsk__col img {
    float: left;
    width: 53px;
    height: 65px;
    margin: 0 10px; }

.basket .bsk__header {
  background: linear-gradient(to bottom, #fff 5%, #e9e9e9 100%);
  border: 1px solid #ddd; }
  .basket .bsk__header .bsk__col {
    padding: 6px 11px; }
    .basket .bsk__header .bsk__col:nth-child(3) {
      text-align: center; }
      .basket .bsk__header .bsk__col:nth-child(3) h3 {
        float: none;
        display: inline-block; }

.basket .bsk__colgroup {
  display: table-column-group; }

.basket .bsk__column:nth-child(1) {
  width: auto; }

.basket .bsk__column:nth-child(2) {
  width: 130px; }

.basket .bsk__column:nth-child(3) {
  width: 96px; }
  .basket .bsk__column:nth-child(3) h3 {
    text-align: center; }

.basket .bsk__column:nth-child(4) {
  width: 124px; }

.basket .bsk__column {
  display: table-column; }

.basket .text-cut {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal; }

.basket h2.text-cut {
  font-size: 12px;
  font-weight: normal;
  line-height: 23px;
  height: 70px; }

.basket .input-numeric {
  width: 100px;
  margin-bottom: 20px; }

.basket .spin {
  display: inline-block; }
  .basket .spin div {
    display: block;
    float: left;
    width: 23px;
    height: 20px;
    border: 1px solid #3366cc;
    padding: 0;
    margin: 0;
    text-align: center;
    background: #1471b6;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    color: white;
    font-size: 16px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 600; }
  .basket .spin div:first-child {
    border-radius: 8px 0 0 8px; }
  .basket .spin input {
    display: block;
    float: left;
    width: 35px;
    height: 20px;
    border: 1px solid #1471b6;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 13px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: normal; }

.basket .bsk-btn {
  width: 20px;
  height: 25px;
  background-size: contain;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  box-sizing: border-box;
  padding: -1px 8px 3px;
  border: none; }

.basket .btn-reload {
  float: left;
  background: url("/image/refresh.svg") no-repeat top left;
  margin: 10px 6px 6px 12px;
  width: 17px; }

.basket .btn-trash {
  float: right;
  background: url("/image/dash.svg") no-repeat top left;
  margin: 6px 9px 6px 6px; }

.basket__panel-btnbox {
  background-color: white;
  border-top: 1px solid #ddd;
  padding: 13px;
  border-radius: 0 0 7px 7px; }
  .basket__panel-btnbox .back-button {
    margin: 8px 0;
    width: 143px;
    height: 28px;
    padding: 0;
    font-size: 12px;
    float: left;
    font-weight: 700; }

.basket__ad-box {
  text-align: center; }
  .basket__ad-box a {
    display: inline-block;
    height: 50px;
    vertical-align: middle;
    margin-bottom: 10px; }
    .basket__ad-box a:nth-child(1) {
      width: 126px; }
      .basket__ad-box a:nth-child(1) img {
        width: 54px;
        float: left;
        margin-bottom: 12px;
        margin-left: -22px; }
      .basket__ad-box a:nth-child(1) h2 {
        font-size: smaller;
        color: #2271b4;
        margin-left: -22px;
        font-size: 12px;
        font-weight: 100; }
    .basket__ad-box a:nth-child(2) img {
      float: left;
      width: 27px;
      height: 27px;
      margin: 0px 13px 10px -25px; }
    .basket__ad-box a:nth-child(2) h2 {
      font-size: unset;
      width: 203px;
      color: #2271b4;
      font-size: 12px;
      font-weight: 100; }
    .basket__ad-box a:nth-child(3) {
      width: 136px; }
    .basket__ad-box a:nth-child(4) {
      width: 55px;
      margin-left: 10px;
      margin-right: -10px; }

.basket__ad-link {
  padding: 12px 8px 10px 0;
  font-family: helvetica, sans-serif;
  font-size: 12px;
  color: #2271b4 !important;
  float: left;
  font-weight: 800;
  text-decoration: underline !important; }
  .basket__ad-link:hover {
    text-decoration: none !important; }

.basket__form-buy {
  text-align: left; }

.basket .bsk-field {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px; }
  .basket .bsk-field:first-child {
    margin-right: 20px; }
  .basket .bsk-field:last-child {
    margin-top: 0; }
  .basket .bsk-field:nth-child(5) {
    margin-top: 18px; }
  .basket .bsk-field__label {
    padding: 0;
    font-family: helvetica, sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: #2271b4;
    font-weight: bolder;
    text-align: left;
    margin: 0 0 -4px 0; }
  .basket .bsk-field__sublabel {
    color: #b2b2b2;
    font-weight: 700;
    font-size: 12px; }
  .basket .bsk-field__divider {
    color: #2271b4;
    font-weight: bold;
    font-size: 14px;
    margin: 0px 13px 0px -13px; }
  .basket .bsk-field input {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 4px 10px;
    margin: 5px 0;
    height: 11px; }

@media screen and (max-width: 2200px) {
  h2.text-cut {
    font-size: medium; }
  .basket .cost-gross {
    font-size: small; } }
