.container-slim {
  max-width: 650px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  word-break: normal;
  word-wrap: break-word;
  font: 16px/1.5 "OpenSans",Arial, sans-serif; }
  .container-slim .title a {
    color: #4f64ab; }
  .container-slim .devider-title {
    color: #4f64ab;
    font-size: medium; }
  .container-slim .borderere {
    position: relative;
    display: inline-block;
    border-bottom: 1px solid #4f64ab;
    width: 45px;
    height: 1px;
    margin: 0 10px 7px; }

.footer {
  padding: 0; }
  .footer .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .footer .buttons a {
      width: auto; }
      @media only screen and (max-width: 768px) {
        .footer .buttons a {
          font-size: smaller;
          padding: 0; } }
      .footer .buttons a:nth-of-type(2) {
        width: 150px;
        padding: 7px 0; }
        @media only screen and (max-width: 768px) {
          .footer .buttons a:nth-of-type(2) {
            font-size: smaller;
            padding: 0; }
            .footer .buttons a:nth-of-type(2):nth-of-type(2) {
              padding: 3px 7px; } }

.row > .item {
  background: transparent !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px; }
  .row > .item .title {
    margin-top: 20px;
    padding: 0; }
  .row > .item .buttons {
    margin-top: 10px; }
    .row > .item .buttons a {
      padding: 7px 0; }
