#lbOverlay{position:fixed;top:0;left:0;z-index:99997;width:100%;height:100%}
#lbOverlay.black{background-color:#000}
#lbOverlay.grey{background-color:#000}
#lbOverlay.blue{background-color:#011D50}
#lbMain{position:absolute;left:0;width:100%;z-index:99998;text-align:center;line-height:0;display:-moz-inline-stack}
#lbMain a img{border:1px solid #fff}
#lbOuterContainer{position:relative;background-color:#fff;width:200px;height:200px;margin:0 auto}
#lbOuterContainer.black{border:2px solid #CCC;background-color:#000}
#lbOuterContainer.grey{border:2px solid #888}
#lbOuterContainer.blue{border:2px solid #5F89D8}
#lbTopContainer,#lbBottomContainer{font:.85em Verdana,Helvetica,sans-serif;background-color:#fff;width:100%;line-height:1.4em;font-size:.9em;overflow:hidden;margin:0 auto;padding:0;position:relative;z-index:14;display:none}
#lbTopContainer{overflow:hidden;margin-top:5px}
#lbTopContainer.black,#lbBottomContainer.black{background-color:#000}
#lbTopContainer.grey,#lbTopContainer.red,#lbTopContainer.green,#lbTopContainer.blue,#lbTopContainer.gold,#lbTopContainer.orange,#lbBottomContainer.grey,#lbBottomContainer.red,#lbBottomContainer.green,#lbBottomContainer.blue,#lbBottomContainer.gold,#lbBottomContainer.orange{background-color:#fff}
#lbImage,#lbIframe{border:none}
#lbImage.black,#lbIframe.black{border:1px solid #CCC}
#lbImage.grey,#lbIframe.grey{border:1px solid #888}
#lbImage.blue,#lbIframe.blue{border:1px solid #5F89D8}
#lbImageContainer,#lbIframeContainer{padding:10px;z-index:12}
#lbLoading{height:100%;width:100%;margin-top:-10px;background:url(//www.hnbainuo.com/sites/paragonsoftware.com/lytebox/loading_white.gif) center no-repeat}
#lbLoading.black{background:url(//www.hnbainuo.com/sites/paragonsoftware.com/lytebox/loading_black.gif) center no-repeat}
#lbHoverNav{position:absolute;top:0;left:0;height:100%;width:100%;z-index:10}
#lbImageContainer>#lbHoverNav{left:0}
#lbHoverNav a{outline:none}
#lbPrevHov{width:26px;height:100%;background:transparent url(//www.hnbainuo.com/sites/paragonsoftware.com/lytebox/blank.gif) no-repeat;display:block;left:0;float:left;margin-left:3px;border:none!important}
#lbPrevHov.black:hover,#lbPrevHov.black:visited{background:url(//www.hnbainuo.com/sites/paragonsoftware.com/lytebox/prev_black_t.png) left 30% no-repeat}
#lbPrevHov.grey:hover,#lbPrevHov.grey:visited{background:url(//www.hnbainuo.com/sites/paragonsoftware.com/lytebox/prev_grey_t.png) left 30% no-repeat}
#lbPrevHov.blue:hover,#lbPrevHov.blue:visited{background:url(//www.hnbainuo.com/sites/paragonsoftware.com/lytebox/prev_custom.svg) left 30% no-repeat}
#lbNextHov{width:26px;height:100%;background:transparent url(//www.hnbainuo.com/sites/paragonsoftware.com/lytebox/blank.gif) no-repeat;display:block;right:0;float:right;margin-right:3px;border:none!important}
#lbNextHov.black:hover,#lbNextHov.black:visited{background:url(//www.hnbainuo.com/sites/paragonsoftware.com/lytebox/next_black_t.png) right 30% no-repeat}
#lbNextHov.grey:hover,#lbNextHov.grey:visited{background:url(//www.hnbainuo.com/sites/paragonsoftware.com/lytebox/next_grey_t.png) right 30% no-repeat}
#lbNextHov.blue:hover,#lbNextHov.blue:visited{background:url(//www.hnbainuo.com/sites/paragonsoftware.com/lytebox/next_custom.svg) right 30% no-repeat}
#lbPrev,#lbPrevTop{width:26px;height:28px;float:right;margin:0 0 1px 8px;border:none!important}
#lbPrev.black,#lbPrevTop.black{background:url(//www.hnbainuo.com/sites/paragonsoftware.com/lytebox/prev_black.png) no-repeat}
#lbPrev.blackOff,#lbPrevTop.blackOff{background:url(//www.hnbainuo.com/sites/paragonsoftware.com/lytebox/prev_black_off.png) no-repeat;cursor:default}
#lbPrev.grey,#lbPrevTop.grey{background:url(//www.hnbainuo.com/sites/paragonsoftware.com/lytebox/prev_grey.png) no-repeat}
#lbPrev.greyOff,#lbPrevTop.greyOff{background:url(//www.hnbainuo.com/sites/paragonsoftware.com/lytebox/prev_grey_off.png) no-repeat;cursor:default}
#lbPrev.blue,#lbPrevTop.blue{background:url(//www.hnbainuo.com/sites/paragonsoftware.com/lytebox/prev_custom.svg) no-repeat}
#lbPrev.blueOff,#lbPrevTop.blueOff{background:url(//www.hnbainuo.com/sites/paragonsoftware.com/lytebox/prev_custom_hv.svg) no-repeat;cursor:default}
#lbNext,#lbNextTop{width:26px;height:28px;float:right;margin:0 0 1px 8px;border:none!important}
#lbNext.black,#lbNextTop.black{background:url(//www.hnbainuo.com/sites/paragonsoftware.com/lytebox/next_black.png) no-repeat}
#lbNext.blackOff,#lbNextTop.blackOff{background:url(//www.hnbainuo.com/sites/paragonsoftware.com/lytebox/next_black_off.png) no-repeat;cursor:default}
#lbNext.grey,#lbNextTop.grey{background:url(//www.hnbainuo.com/sites/paragonsoftware.com/lytebox/next_grey.png) no-repeat}
#lbNext.greyOff,#lbNextTop.greyOff{background:url(//www.hnbainuo.com/sites/paragonsoftware.com/lytebox/next_grey_off.png) no-repeat;cursor:default}
#lbNext.blue,#lbNextTop.blue{background:url(//www.hnbainuo.com/sites/paragonsoftware.com/lytebox/next_custom.svg) no-repeat}
#lbNext.blueOff,#lbNextTop.blueOff{background:url(//www.hnbainuo.com/sites/paragonsoftware.com/lytebox/next_custom_hv.svg) no-repeat;cursor:default}
#lbTopData,#lbBottomData{float:left;text-align:left;padding-left:10px}
#lbBottomData{padding-bottom:.5em}
#lbBottomData.black,#lbTopData.black{color:#fff}
#lbBottomData.grey,#lbTopData.grey{color:#333}
#lbBottomData.blue,#lbTopData.blue{color:#01379E}
#lbTopNav,#lbBottomNav{float:right;text-align:right;padding-right:10px}
#lbNumTop,#lbNumBottom{font-style:italic}
#lbDescBottom{display:block}
#lbTitleTop,#lbTopNav{margin-top:.3em}
#lbTitleTop,#lbTitleBottom{display:block;font-weight:700}
#lbClose,#lbCloseTop{width:26px;height:28px;float:right;margin:0 0 1px 8px;border:none!important}
#lbClose.black,#lbCloseTop.black{background:url(//www.hnbainuo.com/sites/paragonsoftware.com/lytebox/close_black.png) no-repeat}
#lbClose.grey,#lbCloseTop.grey{background:url(//www.hnbainuo.com/sites/paragonsoftware.com/lytebox/close_grey.png) no-repeat}
#lbClose.blue,#lbCloseTop.blue{background:url(//www.hnbainuo.com/sites/paragonsoftware.com/lytebox/close_custom.svg) no-repeat}
#lbPrint,#lbPrintTop{width:26px;height:28px;float:right;margin:0 0 1px 8px;border:none!important}
#lbPrint.black,#lbPrintTop.black{background:url(//www.hnbainuo.com/sites/paragonsoftware.com/lytebox/print_black.png) no-repeat}
#lbPrint.grey,#lbPrintTop.grey{background:url(//www.hnbainuo.com/sites/paragonsoftware.com/lytebox/print_grey.png) no-repeat}
#lbPrint.blue,#lbPrintTop.blue{background:url(//www.hnbainuo.com/sites/paragonsoftware.com/lytebox/print_blue.png) no-repeat}
#lbPlay,#lbPlayTop{width:26px;height:28px;float:right;margin:0 0 1px 8px;border:none!important}
#lbPlay.black,#lbPlayTop.black{background:url(//www.hnbainuo.com/sites/paragonsoftware.com/lytebox/play_black.png) no-repeat}
#lbPlay.grey,#lbPlayTop.grey{background:url(//www.hnbainuo.com/sites/paragonsoftware.com/lytebox/play_grey.png) no-repeat}
#lbPlay.blue,#lbPlayTop.blue{background:url(//www.hnbainuo.com/sites/paragonsoftware.com/lytebox/play_blue.png) no-repeat}
#lbPause,#lbPauseTop{width:26px;height:28px;float:right;margin:0 0 1px 8px;border:none!important}
#lbPause.black,#lbPauseTop.black{background:url(//www.hnbainuo.com/sites/paragonsoftware.com/lytebox/pause_black.png) no-repeat}
#lbPause.grey,#lbPauseTop.grey{background:url(//www.hnbainuo.com/sites/paragonsoftware.com/lytebox/pause_grey.png) no-repeat}
#lbPause.blue,#lbPauseTop.blue{background:url(//www.hnbainuo.com/sites/paragonsoftware.com/lytebox/pause_blue.png) no-repeat}
#lbClose,#lbPrint,#lbPlay,#lbPause{margin:0 0 6px 8px}
* html a:hover{background:transparent}
.lytetip{outline:none;border-bottom:1px dotted;z-index:24;text-decoration:none}
.lytetip span{color:#000;position:absolute;top:2em;left:0;padding:.5em .8em;font:10pt "Trebuchet MS",Arial,Helvetica,sans-serif!important;background:#F4F5FB;border:1px solid #888;border-radius:5px 5px;-moz-border-radius:5px;-webkit-border-radius:5px;-webkit-box-shadow:1px 2px 3px 0 #949494;-moz-box-shadow:1px 2px 3px 0 #949494;box-shadow:1px 2px 3px 0 #949494;width:240px;filter:alpha(opacity:95);khtmlopacity:.95;mozopacity:.95;opacity:.95;text-align:left;display:none}
.lytetip:hover{z-index:25;color:#aaf;text-decoration:none}
.lytetip:hover span{display:block}
.lytetip:hover em{font-size:1.2em;font-weight:700;display:block;padding:0 0 .6em}
.lytetip:hover .lbTipImg{border:0;margin:-20px 0 0 -36px;float:left;position:absolute;height:32px;width:32px}
.lbErrorImg{background:url(//www.hnbainuo.com/sites/paragonsoftware.com/lytebox/error.png)}
.lbInfoImg{background:url(//www.hnbainuo.com/sites/paragonsoftware.com/lytebox/info.png)}
.lbHelpImg{background:url(//www.hnbainuo.com/sites/paragonsoftware.com/lytebox/help.png)}
.lbWarningImg{background:url(//www.hnbainuo.com/sites/paragonsoftware.com/lytebox/warning.png)}
span.lbCustom{padding:.5em .8em .5em 1.5em !important}
span.lbIEFix{padding:.5em .8em!important}
.lytetip .lbError{background:#FFE7D7;border:1px solid #FF3334}
.lytetip .lbInfo,.lytetip .lbHelp{background:#D2EEF7;border:1px solid #2BB0D7}
.lytetip .lbWarning{background:#FFA;border:1px solid #FFAD33}