// тута  будет  храниться  всь  контент тега body

body
    h1 Hello #{name}
    h1 Hello #{name}
    h1 Hello #{name}
    p.  Обычный подход к разработке email-писем
        Классический подход к созданию верстки email-писем включает три шага:
        • Разработка (с небольшими локальными тестами);
        • Инлайнинг CSS;
        • Тестирование.
    div.wrapper#wrap
        a(href="http://google.com", class="link") Сайт1
    div.wrapper#wrap
        a(href="http://google.com", class="link") fsdfsdfgsdfgsdfgsdfg
    div.wrapper#wrap
        a(href="http://google.com", class="link") sdfgsdfgsdfgdsfg


    div.slider_label
        div(style="width: "+ (100 / 3) + "%")
